* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('./../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
}

.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: linear-gradient(45deg, rgba(196, 194, 194, 0.4), rgba(196, 194, 194, 0.7))
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, rgba(196, 194, 194, .7), rgba(196, 194, 194, .1)) !important;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 30px;
}

.navbar .navbar-brand span {
    font-weight: 700;
}

.navbar .dropdown-menu {
    background: linear-gradient(to right, rgba(196, 194, 194, 1), rgba(196, 194, 194, .1));
    border: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: rgba(196, 194, 194, .1);
    font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("./../images/hamburger.svg") !important;
}

/* End of Navbar */
/* General */

.card {
    border-radius: 0px !important;
}

#about hr,
#goal hr,
#news hr,
#join hr {
    width: 50px;
    height: 2px;
    margin: -1px auto;
    background: #454545;
    border-radius: 30px;
}

#about,
#goal,
#news,
#join {
    color: #000;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    background: linear-gradient(to top, rgba(196, 194, 194, 1), rgba(196, 194, 194, 0));
    border: none;
}

#about .about-title,
#goal .goal-title,
#news .news-title,
#join .join-title {
    font-weight: 400;
}

#about .about-title span,
#goal .goal-title span,
#news .news-title span,
#join .join-title span {
    font-weight: 600;
}

/* End of general */
/* About Section */




#about .about-image img {
    border-radius: 5px;
    border: 3px solid #454545;
}

/* End of about section */

/* Goal Section */
#goal {
    background: linear-gradient(to right, rgba(196, 194, 194, 1), rgba(196, 194, 194, 0));
}

#goal .card-title {
    font-weight: 550;
    font-size: 22px;
}

/* End of goal section */

/* Nature News Section */
#news {
    background: linear-gradient(to right, rgba(196, 194, 194, 0), rgba(196, 194, 194, 1), rgba(196, 194, 194, 0));
}

#news .news-post {
    height: 250px !important;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

#news .card {
    border: none;
    width: 300% !important;
    margin: 0px 10px;
}


#news .news-post .card-img-overlay::before {
    content: '';
    position: absolute !important;
    bottom: 0 !important;
    width: 60% !important;
    right: 0 !important;
    background: linear-gradient(to right, rgba(196, 194, 194, .5), rgba(196, 194, 194, 1), rgba(196, 194, 194, .5));
    height: 40px !important;
    z-index: 1;
}

#news .news-post .news-date {
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index: 999 !important;
    color: black !important;
}

#news .card-img-overlay {
    background: linear-gradient(45deg, rgba(53, 52, 52, 0.7), rgba(48, 47, 47, 0.3));
}

/* End of nature news section */


/* Join Us section */
#join {
    margin-bottom: 30px;
    margin-top: 10px;
    background: linear-gradient(to bottom, rgba(196, 194, 194, 1), rgba(196, 194, 194, 0))
}

#join .subsection-title {
    font-size: 24px;
    font-weight: 400;
}

#join .subsection-title span {
    font-weight: 600;
}

#join #join-form {
    padding-right: 10px;
}

#join #join-form img {
    height: 500px;
    background-size: cover;
    object-fit: cover;
    width: 100%;
}

#join #join-form form .form-control {
    background: linear-gradient(to right, rgba(53, 52, 52, 0.7), rgba(48, 47, 47, 0.3));
    color: #fff !important;
    border: none !important;
    border-radius: 0px;
}

#join #join-form form .form-control:focus,
#join #join-form form button:focus {
    border: none !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(187, 187, 187, 0.25) !important;
}

#join #join-form form .form-control::-webkit-input-placeholder {
    color: #eee !important;
}

#join #join-form form button {
    background: linear-gradient(to right, rgba(196, 194, 194, .8), rgba(95, 95, 95, 0.5));
    color: #000;
    border: none;
    transition: .3s;
    transform: scale(1)
}

#join #join-form form button:hover {
    background: linear-gradient(to left, rgba(196, 194, 194, .8), rgba(95, 95, 95, 0.5));
    transform: scale(1.05);
}

/* End of join us section */

/* Footer */
/* Footer */

.footer-basic {
    padding: 40px 0;
    background: linear-gradient(to left, rgba(196, 194, 194, .8), rgba(95, 95, 95, 0.5));
    color: #000;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #000;
    margin-bottom: 0;
}



/* Mobile Vers. */
@media (max-width: 768px) {
    .navbar {
        background: rgba(196, 194, 194, .4) !important;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    #news .card {
        width: 100% !important;
    }

    #goal img {
        height: 300px;
        background-size: cover;
        object-fit: cover;
        width: 100%;
    }

    #join .join-image {
        display: none;
    }
}